@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.container {
  width: 400px;
  min-height: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
}

.container .login-text {
  color: #2D4E38;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.container .login .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.checkbox-label {
  cursor: pointer;
}

.container .login .input-group input:focus,
.container .login .input-group input:valid {
  border-color: #2D4E38;
}

.container .login .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #2D4E38;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.container .login .input-group .btn:hover {
  transform: translateY(-5px);
  background: #fff;
  color: #2D4E38;
  border-style: solid;
}

.login-register-text {
  color: #111;
  font-weight: 600;
}

.login-register-text a {
  text-decoration: none;
  color: #497f5b;
  cursor: pointer;
}

@media (max-width: 430px) {
  .container {
    width: 300px;
  }

  .container .login-social {
    display: block;
  }

  .container .login-social a {
    display: block;
  }
}

/* Pre css */
.flex {
  display: flex;
  align-items: center;
}

.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}

.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  background: #2D4E38;
}

.logo_items {
  gap: 8px;
}

.logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 500px;
  transition: all 0.3s ease;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  overflow-y: auto;
  height: calc(100% - 82px);
}

.menu_container::-webkit-scrollbar {
  display: none;
}

.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}

.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}

.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}

.menu_title .line {
  opacity: 0;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #fff;
}

.link:hover {
  color: black;
  background-color: #fff;
}

.link span {
  white-space: nowrap;
}

.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 25px;
  gap: 5px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}

.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

div.content {
  padding: 1px 20px;
  height: 500px;
  width: 100%;
  background: #fff;
  margin: 50px 0 50px 250px;
}

.tahap_item {
  padding-bottom: 50px;
}

.judul {
  font-size: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
}

.tahap_step {
  background: #2D4E38;
  color: #fff;
  width: fit-content;
  border-radius: 25px;
}

.tahap_step p {
  padding: 5px 15px;
  text-align: center;
}

.tahap_btn {
  border-style: solid;
  padding: 2px 15px;
  border-radius: 10px;
  width: fit-content;
  color: black;
  text-decoration: none;
}

.tahap_btn:hover {
  background: #2D4E38;
  color: #fff;
}

.tahap_content {
  margin: 10px 0 25px 0;
  padding-left: 15px;
}

.tahap_content p {
  margin-bottom: 10px;
}

form {
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  height: 34px;
}

input[type="submit"] {
  background-color: #2D4E38;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.foto-preview {
  width: 20px;
  /* Atur lebar sesuai kebutuhan */
  height: 20px;
  /* Atur tinggi sesuai kebutuhan */
  border-radius: 50%;
  object-fit: cover;
}

/* Gaya untuk mengatur tata letak form dan foto */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-container label,
.form-container input,
.form-container select,
.form-container button {
  margin-bottom: 10px;
}

.form-container button {
  padding: 10px 20px;
}

/* Gaya untuk menampilkan foto preview */
#preview_foto {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.banner {
  background-size: cover;
  background-position: center;
}

.banner img {
  width: 100%;
  max-height: 600px;
  display: block;
  margin-bottom: 25px;
}

.jadwal_step {
  background: #2D4E38;
  color: #fff;
  width: fit-content;
  border-radius: 25px;
}

.jadwal_step p {
  padding: 5px 15px;
  text-align: center;
}

.jadwal_content {
  margin: 10px 0 25px 0;
  padding-left: 15px;
}

.jadwal_content p {
  margin-bottom: 10px;
}

.index_beranda {
  border-style: solid;
  padding: 2px 15px;
  border-radius: 10px;
  width: 100%;
  color: black;
  text-decoration: none;
}

.index_contact {
  margin-top: 25px;
  margin-bottom: 25px;
  border-style: solid;
  padding: 2px 15px;
  border-radius: 10px;
  width: 100%;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.tahap_item {
  margin-top: 25px;
  margin-bottom: 25px;
  border-style: solid;
  padding: 2px 15px;
  border-radius: 10px;
  width: 100%;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.tabel_prodi {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 2px 15px 25px 15px;
  text-decoration: none;
}

.tabel_prodi table {
  border-collapse: collapse;
  width: 100%;
}

.tabel_prodi th, .tabel_prodi td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.tabel_prodi th {
  background-color: #2D4E38;
  color: #fff;
}

.tabel_prodi tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabel_prodi a {
  text-decoration: none;
  color: #2D4E38;
}

.btn_cbt {
  border-style: solid;
  padding: 2px 15px;
  border-radius: 10px;
  width: fit-content;
  color: black;
  text-decoration: none;
}

.btn_cbt:hover {
  background: #2D4E38;
  color: #fff;
}

.content_cbt {
  display: flex;
}

.content_cbt img {
  margin-right: 10px;
  height: 600px
}

.lokasi_cbt {
  display: flex;
  flex-direction: column;
}

.label_cbt {
  margin-bottom: 5px;
}

.tabel_data {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 2px 15px 25px 15px;
  text-decoration: none;
  height: 412px;
  overflow-y: auto;
}

.tabel_data table {
  border-collapse: collapse;
  width: 100%;
}

.tabel_data th, .tabel_data td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.tabel_data th {
  background-color: #2D4E38;
  color: #fff;
}

.tabel_data tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn_excel {
  border-style: solid;
  padding: 2px 15px;
  border-radius: 10px;
  width: fit-content;
  color: black;
  text-decoration: none;
}

.btn_excel:hover {
  background: #2D4E38;
  color: #fff;
}
